<template>
  <div class="container">
    <div class="row justify-content-center">
      <div v-if="!$gate.isAdminOrAuthor()">
        <demo></demo>
        <not-found></not-found>
      </div>
      <div class="row justify-content-center" v-if="$gate.isAdminOrAuthor()">
        <!-- <demo></demo> -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="#activity" data-toggle="tab">Activity</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#settings" data-toggle="tab">Settings</a>
                  </li>
                </ul>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane" id="activity">
                    <p class="h2">Display User Activity</p>
                    <!-- h2-class-->
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane active" id="settings">
                     <p> Dados dotemplate de informações </p>
                     {{dados}} 
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
        </div>
        <div class="row">
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">Flex item 1</div>
            <div class="p-2 bd-highlight">Flex item 2</div>
            <div class="p-2 bd-highlight">Flex item 3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dados: {}
    };
  },
  created() {
    axios.get("api/smartapi").then($data => (this.dados = $data.data));
  }
};
</script>
